# ! DEV VARIABLES WILL DEFAULT TO LIVE VALUES IF LEFT EMPTY
    # Defining different values will allow the dev container to run on the same machine without disturbing the live production server

# The domain on which the service will be hosted - Required
VERDACCIO_DOMAIN=                   
VERDACCIO_DEV_DOMAIN=               
    # Default: VERDACCIO_DOMAIN


# MOUNTS - Leave empty for gitignored mounts to be created in the repo
    # Mount paths will be: ./mounts/<profile>/<mount>

# Dev config - leave empty to mount the live config
## Will mount the path: ./mounts/$VERDACCIO_DEV_CONF/conf (gitignored, unless live)
VERDACCIO_DEV_CONF=dev
    # Default: live         ./mounts/live/conf (not gitignored)

## User and package storage
VERDACCIO_STORAGE=
    # Default: ./mounts/live/storage (gitignored)
VERDACCIO_DEV_STORAGE=
    # Default: VERDACCIO_STORAGE or ./mounts/dev/storage (gitignored)

## SSL certificates for HTTPS
VERDACCIO_CERTS=
    # Default: ./mounts/live/certs (gitignored)
VERDACCIO_DEV_CERTS=
    # Default: VERDACCIO_STORAGE or ./mounts/dev/certs (gitignored)

# Port mapping
VERDACCIO_PORT=4873
    # Default: 4873
VERDACCIO_DEV_PORT=
    # Default: VERDACCIO_PORT or 4873

# If using a proxy, define the port for the healthcheck to use
    # If no value is defined, the verdaccio port is used as a default value. (live/dev, respectively)
VERDACCIO_PROXY_PORT=443
## The container healthcheck sends a request to https://DOMAIN:PROXY_PORT

# ENVIRONMENT VERSION - DO NOT EDIT OUTSIDE template.env
    # IF YOUR .env IS NOT UP TO DATE, DUPLICATE template.env
    ## Container will be unhealthy if VERDACCIO_ENV is not up to date. but is still potentially functional
VERDACCIO_ENV=1.0
# When updating template.env, remember to update docker-compose LATEST_ENV